[Unit]
Description=Nextcloud Docker Service
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStartPre=/bin/sh -c "/usr/bin/docker container stop nextcloud && /bin/sleep 1 || /bin/true"
ExecStart=/usr/bin/docker container start nextcloud
ExecStop=/usr/bin/docker container stop nextcloud

[Install]
WantedBy=multi-user.target
